.centered_div_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth_container{
  height: 90vh;
  display: flex;
  justify-content: center;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.custom_block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed #00000061 1px;
  min-height: 150px;
  width: 100%;
  border-radius: 10px;
}
